In [2]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
from ipywidgets import widgets, interact 
%matplotlib inline
print(f'pandas version = {pd.__version__}')
print(pd.Timestamp.now())

/var/folders/kt/n0nltfqj7lldv0mh3l27075r0000gn/T/ipykernel_13549/3727628372.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

pandas version = 2.2.0
2024-02-07 10:00:47.692448

In [13]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_most-followed_Instagram_accounts')
len(dfs)
# dfs

9

In [14]:
df=dfs[0]
df

,Username,Owner,Brand account,Followers (millions),Profession/Activity,Country,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,@instagram,Instagram,NaN,668,Social media platform,United States,NaN
2,@cristiano,Cristiano Ronaldo,NaN,620,Footballer,Portugal,NaN
3,@leomessi,Lionel Messi,NaN,498,Footballer,Argentina,NaN
4,@selenagomez,Selena Gomez,NaN,429,Musician and actress,United States,NaN
5,@kyliejenner,Kylie Jenner,NaN,400,Media personality,United States,NaN
6,@therock,Dwayne Johnson,NaN,396,Actor and professional wrestler,United States,NaN
7,@arianagrande,Ariana Grande,NaN,380,Musician and actress,United States,NaN
8,@kimkardashian,Kim Kardashian,NaN,364,Media personality,United States,NaN
9,@beyonce,Beyoncé,NaN,319,Musician and actress,United States,NaN
10,@khloekardashian,Khloé Kardashian,NaN,311,Media personality,United States,NaN
11,@nike,Nike,NaN,306,Sportswear multinational,United States,NaN
12,@kendalljenner,Kendall Jenner,NaN,294,Media personality,United States,NaN
13,@justinbieber,Justin Bieber,NaN,293,Musician,Canada,NaN
14,@natgeo,National Geographic,NaN,284,Magazine,United States,NaN
15,@taylorswift,Taylor Swift,NaN,280,Musician,United States,NaN
16,@virat.kohli,Virat Kohli,NaN,266,Cricketer,India,NaN
17,@jlo,Jennifer Lopez,NaN,253,Musician and actress,United States,NaN
18,@nickiminaj,Nicki Minaj,NaN,229,Musician,Trinidad and Tobago,NaN
19,@kourtneykardash,Kourtney Kardashian,NaN,224,Media personality,United States,NaN
20,@neymarjr,Neymar,NaN,219,Footballer,Brazil,NaN
21,@mileycyrus,Miley Cyrus,NaN,216,Musician and actress,United States,NaN
22,@katyperry,Katy Perry,NaN,206,Musician,United States,NaN
23,@zendaya,Zendaya,NaN,184,Actress and singer,United States,NaN
24,@kevinhart4real,Kevin Hart,NaN,180,Comedian and actor,United States,NaN
25,@iamcardib,Cardi B,NaN,169,Musician and actress,United States,NaN
26,@kingjames,LeBron James,NaN,159,Basketball player,United States,NaN
27,@ddlovato,Demi Lovato,NaN,157,Musician and actress,United States,NaN
28,@realmadrid,Real Madrid CF,NaN,152,Football club,Spain,NaN
29,@badgalriri,Rihanna,NaN,152,Musician,Barbados,NaN
30,@champagnepapi,Drake,NaN,145,Musician,Canada,NaN
31,@chrisbrownofficial,Chris Brown,NaN,145,Musician,United States,NaN
32,@ellendegeneres,Ellen DeGeneres,NaN,139,Comedian and television host,United States,NaN
33,@fcbarcelona,FC Barcelona,NaN,125,Football club,Spain,NaN
34,@championsleague,UEFA Champions League,NaN,113,Club football competition,Europe,NaN
35,@k.mbappe,Kylian Mbappé,NaN,111,Footballer,France,NaN
36,@billieeilish,Billie Eilish,NaN,110,Musician,United States,NaN
37,@gal_gadot,Gal Gadot,NaN,109,Actress,Israel,NaN
38,@vindiesel,Vin Diesel,NaN,102,Actor,United States,NaN
39,@lalalalisa_m,Lisa,NaN,100,Musician,Thailand,NaN
40,@nasa,NASA,NaN,97.3,Space agency,United States,NaN
41,@priyankachopra,Priyanka Chopra,NaN,90.5,Actress,India,NaN
42,@shakira,Shakira,NaN,90.5,Musician,Colombia,NaN
43,@dualipa,Dua Lipa,NaN,88.5,Musician,United Kingdom Albania,NaN
44,@davidbeckham,David Beckham,NaN,86.9,Former footballer,United Kingdom,NaN
45,@shraddhakapoor,Shraddha Kapoor,NaN,86.8,Actress,India,NaN
46,@narendramodi,Narendra Modi,NaN,86.6,Prime Minister of India,India,NaN
47,@nba,NBA,NaN,85.9,Professional basketball league,United States Canada,NaN
48,@snoopdogg,Snoop Dogg,NaN,85.1,Musician,United States,NaN
49,@jennierubyjane,Jennie,NaN,83.2,Musician,South Korea,NaN
50,@aliaabhatt,Alia Bhatt,NaN,82.7,Actress,United Kingdom India,NaN
51,"As of February 5, 2024","As of February 5, 2024","As of February 5, 2024","As of February 5, 2024","As of February 5, 2024","As of February 5, 2024","As of February 5, 2024"

In [15]:
df.iloc[1:-1, :-1]

,Username,Owner,Brand account,Followers (millions),Profession/Activity,Country
1,@instagram,Instagram,NaN,668,Social media platform,United States
2,@cristiano,Cristiano Ronaldo,NaN,620,Footballer,Portugal
3,@leomessi,Lionel Messi,NaN,498,Footballer,Argentina
4,@selenagomez,Selena Gomez,NaN,429,Musician and actress,United States
5,@kyliejenner,Kylie Jenner,NaN,400,Media personality,United States
6,@therock,Dwayne Johnson,NaN,396,Actor and professional wrestler,United States
7,@arianagrande,Ariana Grande,NaN,380,Musician and actress,United States
8,@kimkardashian,Kim Kardashian,NaN,364,Media personality,United States
9,@beyonce,Beyoncé,NaN,319,Musician and actress,United States
10,@khloekardashian,Khloé Kardashian,NaN,311,Media personality,United States
11,@nike,Nike,NaN,306,Sportswear multinational,United States
12,@kendalljenner,Kendall Jenner,NaN,294,Media personality,United States
13,@justinbieber,Justin Bieber,NaN,293,Musician,Canada
14,@natgeo,National Geographic,NaN,284,Magazine,United States
15,@taylorswift,Taylor Swift,NaN,280,Musician,United States
16,@virat.kohli,Virat Kohli,NaN,266,Cricketer,India
17,@jlo,Jennifer Lopez,NaN,253,Musician and actress,United States
18,@nickiminaj,Nicki Minaj,NaN,229,Musician,Trinidad and Tobago
19,@kourtneykardash,Kourtney Kardashian,NaN,224,Media personality,United States
20,@neymarjr,Neymar,NaN,219,Footballer,Brazil
21,@mileycyrus,Miley Cyrus,NaN,216,Musician and actress,United States
22,@katyperry,Katy Perry,NaN,206,Musician,United States
23,@zendaya,Zendaya,NaN,184,Actress and singer,United States
24,@kevinhart4real,Kevin Hart,NaN,180,Comedian and actor,United States
25,@iamcardib,Cardi B,NaN,169,Musician and actress,United States
26,@kingjames,LeBron James,NaN,159,Basketball player,United States
27,@ddlovato,Demi Lovato,NaN,157,Musician and actress,United States
28,@realmadrid,Real Madrid CF,NaN,152,Football club,Spain
29,@badgalriri,Rihanna,NaN,152,Musician,Barbados
30,@champagnepapi,Drake,NaN,145,Musician,Canada
31,@chrisbrownofficial,Chris Brown,NaN,145,Musician,United States
32,@ellendegeneres,Ellen DeGeneres,NaN,139,Comedian and television host,United States
33,@fcbarcelona,FC Barcelona,NaN,125,Football club,Spain
34,@championsleague,UEFA Champions League,NaN,113,Club football competition,Europe
35,@k.mbappe,Kylian Mbappé,NaN,111,Footballer,France
36,@billieeilish,Billie Eilish,NaN,110,Musician,United States
37,@gal_gadot,Gal Gadot,NaN,109,Actress,Israel
38,@vindiesel,Vin Diesel,NaN,102,Actor,United States
39,@lalalalisa_m,Lisa,NaN,100,Musician,Thailand
40,@nasa,NASA,NaN,97.3,Space agency,United States
41,@priyankachopra,Priyanka Chopra,NaN,90.5,Actress,India
42,@shakira,Shakira,NaN,90.5,Musician,Colombia
43,@dualipa,Dua Lipa,NaN,88.5,Musician,United Kingdom Albania
44,@davidbeckham,David Beckham,NaN,86.9,Former footballer,United Kingdom
45,@shraddhakapoor,Shraddha Kapoor,NaN,86.8,Actress,India
46,@narendramodi,Narendra Modi,NaN,86.6,Prime Minister of India,India
47,@nba,NBA,NaN,85.9,Professional basketball league,United States Canada
48,@snoopdogg,Snoop Dogg,NaN,85.1,Musician,United States
49,@jennierubyjane,Jennie,NaN,83.2,Musician,South Korea
50,@aliaabhatt,Alia Bhatt,NaN,82.7,Actress,United Kingdom India

In [16]:
df=df.loc[1:50, "Username":"Country"].reset_index(drop=True)
df

,Username,Owner,Brand account,Followers (millions),Profession/Activity,Country
0,@instagram,Instagram,NaN,668,Social media platform,United States
1,@cristiano,Cristiano Ronaldo,NaN,620,Footballer,Portugal
2,@leomessi,Lionel Messi,NaN,498,Footballer,Argentina
3,@selenagomez,Selena Gomez,NaN,429,Musician and actress,United States
4,@kyliejenner,Kylie Jenner,NaN,400,Media personality,United States
5,@therock,Dwayne Johnson,NaN,396,Actor and professional wrestler,United States
6,@arianagrande,Ariana Grande,NaN,380,Musician and actress,United States
7,@kimkardashian,Kim Kardashian,NaN,364,Media personality,United States
8,@beyonce,Beyoncé,NaN,319,Musician and actress,United States
9,@khloekardashian,Khloé Kardashian,NaN,311,Media personality,United States
10,@nike,Nike,NaN,306,Sportswear multinational,United States
11,@kendalljenner,Kendall Jenner,NaN,294,Media personality,United States
12,@justinbieber,Justin Bieber,NaN,293,Musician,Canada
13,@natgeo,National Geographic,NaN,284,Magazine,United States
14,@taylorswift,Taylor Swift,NaN,280,Musician,United States
15,@virat.kohli,Virat Kohli,NaN,266,Cricketer,India
16,@jlo,Jennifer Lopez,NaN,253,Musician and actress,United States
17,@nickiminaj,Nicki Minaj,NaN,229,Musician,Trinidad and Tobago
18,@kourtneykardash,Kourtney Kardashian,NaN,224,Media personality,United States
19,@neymarjr,Neymar,NaN,219,Footballer,Brazil
20,@mileycyrus,Miley Cyrus,NaN,216,Musician and actress,United States
21,@katyperry,Katy Perry,NaN,206,Musician,United States
22,@zendaya,Zendaya,NaN,184,Actress and singer,United States
23,@kevinhart4real,Kevin Hart,NaN,180,Comedian and actor,United States
24,@iamcardib,Cardi B,NaN,169,Musician and actress,United States
25,@kingjames,LeBron James,NaN,159,Basketball player,United States
26,@ddlovato,Demi Lovato,NaN,157,Musician and actress,United States
27,@realmadrid,Real Madrid CF,NaN,152,Football club,Spain
28,@badgalriri,Rihanna,NaN,152,Musician,Barbados
29,@champagnepapi,Drake,NaN,145,Musician,Canada
30,@chrisbrownofficial,Chris Brown,NaN,145,Musician,United States
31,@ellendegeneres,Ellen DeGeneres,NaN,139,Comedian and television host,United States
32,@fcbarcelona,FC Barcelona,NaN,125,Football club,Spain
33,@championsleague,UEFA Champions League,NaN,113,Club football competition,Europe
34,@k.mbappe,Kylian Mbappé,NaN,111,Footballer,France
35,@billieeilish,Billie Eilish,NaN,110,Musician,United States
36,@gal_gadot,Gal Gadot,NaN,109,Actress,Israel
37,@vindiesel,Vin Diesel,NaN,102,Actor,United States
38,@lalalalisa_m,Lisa,NaN,100,Musician,Thailand
39,@nasa,NASA,NaN,97.3,Space agency,United States
40,@priyankachopra,Priyanka Chopra,NaN,90.5,Actress,India
41,@shakira,Shakira,NaN,90.5,Musician,Colombia
42,@dualipa,Dua Lipa,NaN,88.5,Musician,United Kingdom Albania
43,@davidbeckham,David Beckham,NaN,86.9,Former footballer,United Kingdom
44,@shraddhakapoor,Shraddha Kapoor,NaN,86.8,Actress,India
45,@narendramodi,Narendra Modi,NaN,86.6,Prime Minister of India,India
46,@nba,NBA,NaN,85.9,Professional basketball league,United States Canada
47,@snoopdogg,Snoop Dogg,NaN,85.1,Musician,United States
48,@jennierubyjane,Jennie,NaN,83.2,Musician,South Korea
49,@aliaabhatt,Alia Bhatt,NaN,82.7,Actress,United Kingdom India

<h2>Filter brand account</h2>

In [20]:
df.drop(columns=["Brand account"]).copy()

,Username,Owner,Followers (millions),Profession/Activity,Country
0,@instagram,Instagram,668,Social media platform,United States
1,@cristiano,Cristiano Ronaldo,620,Footballer,Portugal
2,@leomessi,Lionel Messi,498,Footballer,Argentina
3,@selenagomez,Selena Gomez,429,Musician and actress,United States
4,@kyliejenner,Kylie Jenner,400,Media personality,United States
5,@therock,Dwayne Johnson,396,Actor and professional wrestler,United States
6,@arianagrande,Ariana Grande,380,Musician and actress,United States
7,@kimkardashian,Kim Kardashian,364,Media personality,United States
8,@beyonce,Beyoncé,319,Musician and actress,United States
9,@khloekardashian,Khloé Kardashian,311,Media personality,United States
10,@nike,Nike,306,Sportswear multinational,United States
11,@kendalljenner,Kendall Jenner,294,Media personality,United States
12,@justinbieber,Justin Bieber,293,Musician,Canada
13,@natgeo,National Geographic,284,Magazine,United States
14,@taylorswift,Taylor Swift,280,Musician,United States
15,@virat.kohli,Virat Kohli,266,Cricketer,India
16,@jlo,Jennifer Lopez,253,Musician and actress,United States
17,@nickiminaj,Nicki Minaj,229,Musician,Trinidad and Tobago
18,@kourtneykardash,Kourtney Kardashian,224,Media personality,United States
19,@neymarjr,Neymar,219,Footballer,Brazil
20,@mileycyrus,Miley Cyrus,216,Musician and actress,United States
21,@katyperry,Katy Perry,206,Musician,United States
22,@zendaya,Zendaya,184,Actress and singer,United States
23,@kevinhart4real,Kevin Hart,180,Comedian and actor,United States
24,@iamcardib,Cardi B,169,Musician and actress,United States
25,@kingjames,LeBron James,159,Basketball player,United States
26,@ddlovato,Demi Lovato,157,Musician and actress,United States
27,@realmadrid,Real Madrid CF,152,Football club,Spain
28,@badgalriri,Rihanna,152,Musician,Barbados
29,@champagnepapi,Drake,145,Musician,Canada
30,@chrisbrownofficial,Chris Brown,145,Musician,United States
31,@ellendegeneres,Ellen DeGeneres,139,Comedian and television host,United States
32,@fcbarcelona,FC Barcelona,125,Football club,Spain
33,@championsleague,UEFA Champions League,113,Club football competition,Europe
34,@k.mbappe,Kylian Mbappé,111,Footballer,France
35,@billieeilish,Billie Eilish,110,Musician,United States
36,@gal_gadot,Gal Gadot,109,Actress,Israel
37,@vindiesel,Vin Diesel,102,Actor,United States
38,@lalalalisa_m,Lisa,100,Musician,Thailand
39,@nasa,NASA,97.3,Space agency,United States
40,@priyankachopra,Priyanka Chopra,90.5,Actress,India
41,@shakira,Shakira,90.5,Musician,Colombia
42,@dualipa,Dua Lipa,88.5,Musician,United Kingdom Albania
43,@davidbeckham,David Beckham,86.9,Former footballer,United Kingdom
44,@shraddhakapoor,Shraddha Kapoor,86.8,Actress,India
45,@narendramodi,Narendra Modi,86.6,Prime Minister of India,India
46,@nba,NBA,85.9,Professional basketball league,United States Canada
47,@snoopdogg,Snoop Dogg,85.1,Musician,United States
48,@jennierubyjane,Jennie,83.2,Musician,South Korea
49,@aliaabhatt,Alia Bhatt,82.7,Actress,United Kingdom India

In [25]:
@interact
def select_df(i=range(len(dfs))):
    return dfs[i]
#@interact decorator and must not have to below command
select_df(0)

interactive(children=(Dropdown(description='i', options=(0, 1, 2, 3, 4, 5, 6, 7, 8), value=0), Output()), _dom…

,Username,Owner,Brand account,Followers (millions),Profession/Activity,Country,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,@instagram,Instagram,NaN,668,Social media platform,United States,NaN
2,@cristiano,Cristiano Ronaldo,NaN,620,Footballer,Portugal,NaN
3,@leomessi,Lionel Messi,NaN,498,Footballer,Argentina,NaN
4,@selenagomez,Selena Gomez,NaN,429,Musician and actress,United States,NaN
5,@kyliejenner,Kylie Jenner,NaN,400,Media personality,United States,NaN
6,@therock,Dwayne Johnson,NaN,396,Actor and professional wrestler,United States,NaN
7,@arianagrande,Ariana Grande,NaN,380,Musician and actress,United States,NaN
8,@kimkardashian,Kim Kardashian,NaN,364,Media personality,United States,NaN
9,@beyonce,Beyoncé,NaN,319,Musician and actress,United States,NaN
10,@khloekardashian,Khloé Kardashian,NaN,311,Media personality,United States,NaN
11,@nike,Nike,NaN,306,Sportswear multinational,United States,NaN
12,@kendalljenner,Kendall Jenner,NaN,294,Media personality,United States,NaN
13,@justinbieber,Justin Bieber,NaN,293,Musician,Canada,NaN
14,@natgeo,National Geographic,NaN,284,Magazine,United States,NaN
15,@taylorswift,Taylor Swift,NaN,280,Musician,United States,NaN
16,@virat.kohli,Virat Kohli,NaN,266,Cricketer,India,NaN
17,@jlo,Jennifer Lopez,NaN,253,Musician and actress,United States,NaN
18,@nickiminaj,Nicki Minaj,NaN,229,Musician,Trinidad and Tobago,NaN
19,@kourtneykardash,Kourtney Kardashian,NaN,224,Media personality,United States,NaN
20,@neymarjr,Neymar,NaN,219,Footballer,Brazil,NaN
21,@mileycyrus,Miley Cyrus,NaN,216,Musician and actress,United States,NaN
22,@katyperry,Katy Perry,NaN,206,Musician,United States,NaN
23,@zendaya,Zendaya,NaN,184,Actress and singer,United States,NaN
24,@kevinhart4real,Kevin Hart,NaN,180,Comedian and actor,United States,NaN
25,@iamcardib,Cardi B,NaN,169,Musician and actress,United States,NaN
26,@kingjames,LeBron James,NaN,159,Basketball player,United States,NaN
27,@ddlovato,Demi Lovato,NaN,157,Musician and actress,United States,NaN
28,@realmadrid,Real Madrid CF,NaN,152,Football club,Spain,NaN
29,@badgalriri,Rihanna,NaN,152,Musician,Barbados,NaN
30,@champagnepapi,Drake,NaN,145,Musician,Canada,NaN
31,@chrisbrownofficial,Chris Brown,NaN,145,Musician,United States,NaN
32,@ellendegeneres,Ellen DeGeneres,NaN,139,Comedian and television host,United States,NaN
33,@fcbarcelona,FC Barcelona,NaN,125,Football club,Spain,NaN
34,@championsleague,UEFA Champions League,NaN,113,Club football competition,Europe,NaN
35,@k.mbappe,Kylian Mbappé,NaN,111,Footballer,France,NaN
36,@billieeilish,Billie Eilish,NaN,110,Musician,United States,NaN
37,@gal_gadot,Gal Gadot,NaN,109,Actress,Israel,NaN
38,@vindiesel,Vin Diesel,NaN,102,Actor,United States,NaN
39,@lalalalisa_m,Lisa,NaN,100,Musician,Thailand,NaN
40,@nasa,NASA,NaN,97.3,Space agency,United States,NaN
41,@priyankachopra,Priyanka Chopra,NaN,90.5,Actress,India,NaN
42,@shakira,Shakira,NaN,90.5,Musician,Colombia,NaN
43,@dualipa,Dua Lipa,NaN,88.5,Musician,United Kingdom Albania,NaN
44,@davidbeckham,David Beckham,NaN,86.9,Former footballer,United Kingdom,NaN
45,@shraddhakapoor,Shraddha Kapoor,NaN,86.8,Actress,India,NaN
46,@narendramodi,Narendra Modi,NaN,86.6,Prime Minister of India,India,NaN
47,@nba,NBA,NaN,85.9,Professional basketball league,United States Canada,NaN
48,@snoopdogg,Snoop Dogg,NaN,85.1,Musician,United States,NaN
49,@jennierubyjane,Jennie,NaN,83.2,Musician,South Korea,NaN
50,@aliaabhatt,Alia Bhatt,NaN,82.7,Actress,United Kingdom India,NaN
51,"As of February 5, 2024","As of February 5, 2024","As of February 5, 2024","As of February 5, 2024","As of February 5, 2024","As of February 5, 2024","As of February 5, 2024"

In [26]:
@interact
def filter_ig(country=df["Country"].unique()):
    return df[df["Country"] == country]
filter_ig('India')

interactive(children=(Dropdown(description='country', options=('United States', 'Portugal', 'Argentina', 'Cana…

,Username,Owner,Brand account,Followers (millions),Profession/Activity,Country
15,@virat.kohli,Virat Kohli,NaN,266,Cricketer,India
40,@priyankachopra,Priyanka Chopra,NaN,90.5,Actress,India
44,@shraddhakapoor,Shraddha Kapoor,NaN,86.8,Actress,India
45,@narendramodi,Narendra Modi,NaN,86.6,Prime Minister of India,India

In [28]:
@interact
def filter_usr(regex_pat=""):
    return df[(df["Owner"].str.contains(regex_pat,regex=True,case=False))].sort_values("Followers (millions)",ascending=False)

interactive(children=(Text(value='', description='regex_pat'), Output()), _dom_classes=('widget-interact',))

In [ ]:
dfs2 = pd.read_html('https://www.visualcapitalist.com/electric-vehicle-sales-by-model-2023/')
len(dfs2)